@CHARSET "UTF-8";
html, body {
	background: url(../../res/images/bg.jpg) repeat scroll;
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

/*HTML 5 specific*/
header,section,article,aside,footer{
	display: block;
}

aside {
	float: left;
	width: 20%;
	margin: 20px 0 20px 0;
}

section {
	float: right;
	width: 80%;
	padding-left: 20px;
	margin: 20px 0 20px 0px;
	border-left: 2px dotted #b2a497;
}


footer {
	clear:both !important;
	width: 100%;
	height: 40px;
	color:#200f08 ;
	background:#ddd3bf;
	padding-left: 20%;
	
	/*Opacity*/
	filter:alpha(opacity=50); /* msie */  
	-moz-opacity: 0.50; /* firefox 1.0 */  
	-khtml-opacity: 0.50; /* webkit */  
	opacity: 0.50; /* css 3 */

	/*Gradient*/
	background-image: -moz-linear-gradient(top, #ddd3bf, #bcae91); /* FF3.6 */
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #ddd3bf),color-stop(1, #bcae91)); /* Saf4+, Chrome *
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#ddd3bf', EndColorStr='#bcae91'); /* IE6,IE7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ddd3bf', EndColorStr='#bcae91')"; /* IE8 */

	/*Round corners*/
	-moz-border-radius: 12px; /* FF1+ */
	-webkit-border-radius: 12px; /* Saf3+, Chrome */
	border-radius: 12px; /* Opera 10.5, IE 9 */
}

label {
    display:block;
    margin-top:50px;
    letter-spacing:1px;
    font-family:Arial;
}
 
.messageform {
    width: 420px;
}
 

input, textarea {
         width:400px;
         height:27px;
         background:#666666;
         border:2px solid #f6f6f6;
         padding:10px;
         margin-top:10px;
         font-size:0.7em;
         color:#ffffff;
         autoComplete: false;
}

textarea {
         height:100px;
         font-family:Arial;
}

.submitbtn {
    width:60px;
    height:30px;
    background:url(../images/send.png);
    text-indent:-9999px;
    border:none;
    cursor:pointer;
        background-repeat: no-repeat;
}

.deletebtn {
    width:20px;
    height:20px;
    background:url(../images/delete.gif);
    text-indent:-9999px;
    border:none;
    cursor:pointer;
        background-repeat: no-repeat;
}

div#rotate1 {
        width: 100px;
        text-shadow: 5px 5px 5px #888888;
}

div#rotatey1 {
        width: 100px;
        text-shadow: 5px 5px 5px #FF0000;
}

.emailtable {
        border: 1px solid black;
        width: 50%;
}

.emailtabletr
{
        border: 1px solid black;
        align: center;
}
.emailtableth
{
        font-family: Arial;
        font-weight: bold;
        border: 1px solid black;
        align: center;
}
.emailtabletd
{
        font-family:Arial;
        border: 1px solid black;
        align: center;
}

.emailsection
{
        align: centre;
}